# Fish shell aliases

# Alias to reload Fish configuration
alias src='source $HOME/.config/fish/config.fish'

# Alias for togo task manager
alias tasks='togo'

# Alias for chezmoi dotfile manager
alias dot='chezmoi'

# SketchyBar aliases
alias sbar='sketchybar'
alias sbarr="sketchybar --reload"
