[user]
  name = {{ .name | quote }}
  email = {{ .email | quote }}
[init]
  defaultBranch = main
[pull]
  rebase = true
[core]
  pager = delta
  autocrlf = input
[delta]
  line-numbers = true
[rerere]
  enabled = true
  autoupdate = true