[data]
    email = "{{ promptStringOnce . "email" "Email address" }}"
    name = "{{ promptStringOnce . "name" "Full name" }}"
    github_username = "{{ promptStringOnce . "github_username" "GitHub username" }}"

[edit]
    command = "nvim"
    args = ["+{{ .chezmoi.targetFile }}"]

[merge]
    command = "nvim"
    args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]

[diff]
    command = "delta"
    args = ["{{ .Destination }}", "{{ .Target }}"]