#!/bin/bash

# mise config
mise use -g usage
mise completion fish > ~/.config/fish/completions/mise.fish

# Languages
mise use --global go@latest
mise use --global python@latest
mise use --global node@latest
mise use --global java@latest
