#!/bin/bash

# Set fish as default shell
if ! grep -q "$(which fish)" /etc/shells; then
  echo "$(which fish)" | sudo tee -a /etc/shells
fi
chsh -s "$(which fish)"

# Fisher
if ! fish -c "type -q fisher"; then
  fish -c 'curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher'
fi

# Fisher plugins
fish -c 'fisher update'
