[data]
    email = "{{ promptStringOnce . "email" "Email address" }}"
    name = "{{ promptStringOnce . "name" "Full name" }}"
    github_username = "{{ promptStringOnce . "github_username" "GitHub username" }}"